{% extends 'base.html' %}

{% block title %}
    Create Task
{% endblock title %}
{% block content %}
    <main>
        <div class="task-form">
            <h1>Delete Task</h1>
            <p>Are you sure you want to delete this task?: {{ task.name }}</p>
            <form action="" method="post">
                {% csrf_token %}
            <input type="submit" value="Delete">
            </form>
        </div>
    </main>
</body>
{% endblock content %}
