{% extends 'base.html' %}

{% block title %}
    Task Notes
{% endblock title %}
{% block content %}
    <main>
        <div class="tasks-detail">
            <p>
                <a href="{% url 'edit_task' tasks_object.id %}">Edit task</a>
            </p>
            <p>
                <a href="{% url 'delete_task' tasks_object.id %}">Delete task</a>
            </p>
            <h1>{{ tasks_object.name }}</h1>
            <p>{{ tasks_object.notes|default:'Click "Edit" to add notes.' }}</p>
            <div>
    </main>
</body>
{% endblock content %}
