{% extends 'base.html' %}

{% block title %}
    Task List
{% endblock title %}
{% block content %}
</header>
<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        <div>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        </div>
        {% if project_object|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_object %}
                        <tr>
                            <td>
                                <a href="{% url 'task_detail' project.id %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.start_date }}</td>
                            <td>{{ project.due_date }}</td>
                            <td>{{ value|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
</body>
{% endblock content %}
