{% extends 'base.html' %}

{% block title %}
    Project Details
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project_object.name }}</h1>
            <p>{{ project_object.description }}</p>
            <h2>Tasks</h2>
            <div>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                <p>
                    <a href="{% url 'edit_project' project_object.id %}">Edit project</a>
                </p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_object.tasks.all %}
                        <tr>
                            <td>
                                <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
                            </td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed.filter|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if project_object.tasks.all|length == 0 %}<p>This project has no tasks</p>{% endif %}
        </div>
    </main>
</body>
{% endblock content %}
