{% extends 'base.html' %}

{% block title %}
    Edit Project
{% endblock title %}
{% block content %}
    <main>
        <div class="project-form">
            <h1>Edit project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Submit Edits</button>
            </form>
        </div>
    </main>
</body>
{% endblock content %}
